$fontstack: 'BRFirma', sans-serif;

body{
    font-family: $fontstack !important;
    background: url('/img/page_bg.svg');
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    min-height: 4.8rem !important;

    
}

.logo-text{
    font-weight: bold !important;
    font-size: 1.6em !important;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

//Hero
.hero-head{
    border-bottom: 1px solid #efefef;
}
.hero-copy,.hero-image{
    align-self: center;
    .t-form{
        text-align: left !important;
        margin: 10px 0px;
        padding: 0px !important;

        .t-form-inline {
            padding: 0px !important;
           
        }
    }
    .t-input{
        font-size: 1.4em !important;
        padding: 8px 16px!important;
        float: left;
    }
    
    .t-button-submit, .t-button-dashboard{
        font-size: 1.2em !important;
        padding: 16px 24px!important;
        background: #FFE000;
border-radius: 5px;
color: #222 !important;
float: left;

&:after {
    content: " ⭢";
  }
    }
}
.hero-image{
    text-align: center !important;

    .banner{
        margin: 0 auto !important;
    }
    img{
        width: 100%;
        border-radius: 20px;
        animation: float 6s ease-in-out infinite;
    }
}
.hero-title{
    font-size: 3.6em !important;
    font-weight: 900 !important;
    font-family: $fontstack !important;
    line-height: 120% !important;
    margin-bottom: 20px;
    color: #222 !important;
}
.hero-copy{
    p{
        font-size: 1.6em !important;
        margin-bottom: 30px;
    }
    img{
        width: 200px;
        height: auto;
    }
    
}



@media screen and (max-width: 600px) {
    // body {
      
    // }
    .navbar {
        min-height: 3.6rem !important;
    }
    .hero-title{
        font-size: 2.4em !important;
    }
    .hero-copy{
        p{
            font-size: 1.2em !important;
            margin-bottom: 30px;
        }
        
    }
    .t-button-submit, .t-button-dashboard{
        margin-bottom: 60px !important;
    }
  }