@charset "UTF-8";
body {
  font-family: "Quadran", sans-serif !important;
  background: url("/img/page_bg.svg");
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  min-height: 4.8rem !important;
}

.logo-text {
  font-weight: bold !important;
  font-size: 1.6em !important;
}

.navbar-item img {
  max-height: 3rem !important;
}

@-webkit-keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.hero-head {
  border-bottom: 1px solid #efefef;
}

.hero-copy, .hero-image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero-copy .this-form, .hero-image .this-form {
  display: block;
  padding: 20px;
  background: #fff !important;
  height: auto;
  width: 80%;
}

.hero-copy .this-form input, .hero-image .this-form input {
  width: 100% !important;
  display: block;
  margin-bottom: 20px;
  font-family: "Quadran", sans-serif !important;
}

.hero-copy .t-form, .hero-image .t-form {
  text-align: left !important;
  margin: 10px 0px;
  padding: 0px !important;
}

.hero-copy .t-form .t-form-inline, .hero-image .t-form .t-form-inline {
  padding: 0px !important;
}

.hero-copy .t-input, .hero-image .t-input {
  font-size: 1.4em !important;
  padding: 16px 16px !important;
  float: left;
}

.hero-copy .t-button-submit, .hero-copy .t-button-dashboard, .hero-copy #mc-embedded-subscribe, .hero-image .t-button-submit, .hero-image .t-button-dashboard, .hero-image #mc-embedded-subscribe {
  font-size: 1.4em !important;
  padding: 16px 24px !important;
  background: #2B67F5;
  display: block;
  border-radius: 5px;
  color: #fff !important;
  float: left;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.hero-copy .t-button-submit:after, .hero-copy .t-button-dashboard:after, .hero-copy #mc-embedded-subscribe:after, .hero-image .t-button-submit:after, .hero-image .t-button-dashboard:after, .hero-image #mc-embedded-subscribe:after {
  content: " ⭢";
}

.hero-image {
  text-align: center !important;
}

.hero-image .banner {
  margin: 0 auto !important;
}

.hero-image img {
  width: 100%;
}

.hero-title {
  font-size: 4.2em !important;
  font-weight: 900 !important;
  font-family: "Quadran", sans-serif !important;
  line-height: 120% !important;
  margin-bottom: 20px;
  color: #222 !important;
  letter-spacing: -3px;
}

.hero-copy p {
  font-size: 1.6em !important;
  margin-bottom: 30px;
  letter-spacing: -1px;
}

.hero-copy img {
  width: 200px;
  height: auto;
}

#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 1.4em "Quadran", sans-serif !important;
}

#mc_embed_signup .mc-field-group {
  clear: left;
  position: relative;
  width: 96%;
  padding-bottom: 0px !important;
  min-height: 50px;
}

#mc_embed_signup .mc-field-group input {
  padding: 16px !important;
}

#mc_embed_signup form {
  display: block;
  position: relative;
  text-align: left;
  padding: 30px !important;
}

@media screen and (max-width: 600px) {
  .navbar {
    min-height: 3.6rem !important;
  }
  .navbar-item img {
    max-height: 2.4rem !important;
  }
  .hero-title {
    font-size: 2.4em !important;
  }
  .hero-copy p {
    font-size: 1.2em !important;
    margin-bottom: 30px;
  }
  .t-button-submit, .t-button-dashboard {
    margin-bottom: 60px !important;
  }
}
/*# sourceMappingURL=maagro-allegro.css.map */